html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background-color: #F8F8F8;
  }

  .main {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

    /* The Bottom Grid */

  .image-grid-container {
    border: 10px dashed #2374AB;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
    width: fit-content;
    height: fit-content;
    background: #B4D2E7;
    border-radius: 30px;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    align-items: center;
    justify-content: center; /* Center horizontally */
  }

  .image-grid > img {
    width: 100%;
    cursor: pointer;
    border: 4px solid #2374AB;
    border-radius: 30px;
  }

  img:hover{
    background-color: #2374AB;
    transform: scale(1.1, 1.1); transform-origin: center;
  }

  img{
    transition: transform 0.2s ease;
    width: 300px;
    height: 300px;
  }

    /* The Equation */

  .latex-container {
    margin-bottom: 20px;
    text-align: center;
    background-color: #4b2d18; /* White background for LaTeX box */
    border: 10px groove #dc8b54; /* Gray border for LaTeX box */
    padding: 10px; /* Add some padding inside the latex box */
    width: fit-content; /* Fit the content to the latex box */
    margin: auto; /* center the latex box */
    width: 100vh;
  }

  #latex-display{
    color:white;
  }

   /* The Buttons */

   .button-container {
    padding: 25px;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    width: fit-content;
    border-radius: 30px;
    gap: 25px; /* Space between buttons */
  }

  .button-container button {
    width: 175px; /* Matching image width */
    height: 100px; /* Matching image height */
    border: 4px solid #2374AB;
    border-radius: 30px;
    background: white;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 16px;
    color: #2374AB; /* Matching border color */
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: none;
    font-size: 20px;
  }

  .button-container button:hover {
    background-color: #2374AB;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .button-container.button-circle button {
    border-radius: 50%;
  }

  /* The Top */

  .input-container {
    height: 30vh;
    display: flex;
    align-items: flex-end;
    padding-bottom: 50px;
    background-color: #33312E;
  }

  .input-bar {
    width: 100%;
  }

   /* The Images */

  .images-container {
    height: 70vh;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

   /* The Wrapper */

  .wrapper {
    width: 250px; /* Set the desired width of the container */
    height: 250px; /* Set the desired height of the container */
    display: flex; /* Enable flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden; /* Clip the image to the container */
    border-radius: 10px;
  }

  .wrapper > img {
    width: 90%; /* Make the image fill the container */
    height: 90%; /* Make the image fill the container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    margin: 5px;
    border-radius: 10px;
    border: 10px solid #2374AB;
  }

  /* The Nav Bar */

  nav {
    background-color: #333;
    padding: 10px 20px;
    transition: background 0.2s;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
  }

  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .nav-links li {
    margin-right: 20px;
  }

  .nav-links li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
    transition: background 0.2s;
    background-color: #33312E;
  }

  .nav-links li a:hover {
    background-color: #575757;
    border-radius: 4px;
    transform: scale(1.1, 1.1); transform-origin: center;
  }

  .score {
    color: white;
    font-weight: bold;
    font-size: 18px;
  }

  #instructions{
    position: absolute;
    bottom: 0;
  }
